<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>

<a href="http://localhost:8080/login">Login</a>
<br>
<a href="http://localhost:8080/register">register</a>



</body>

</html>